body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.one,.two,.four,.three {
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 120px;
    padding-left: 60px;
    margin: 30px;
    display: inline-block;
    background-color: rgb(250, 234, 14);
    border: 4px solid;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
        /* 80% */
    }
}

h1 {
    position: relative;
    animation: text 4s linear infinite;
}


.one {
    transform: perspective(300px) rotateX(35deg);
}


.two {
    transform: perspective(300px) rotateY(25deg);
}


.three {
    transform: perspective(300px) rotateX(35deg);
}


.four {
    transform: perspective(300px) rotateY(-25deg);
}

a{
    display: inline-block;
    margin: 20px;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}