*{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
script{
    display: none;
}
head{
    display: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 40vw;
    margin-bottom: 50px;
    border: 1px solid rgba(197, 197, 197, 0.582);
    box-shadow: 10px 5px rgba(197, 197, 197, 0.582);
    border-radius: 12px;
}
.last_p{
    margin-bottom: 15px;
}