
.d1,.d2,.d3, .d4, .d5, .d6, .d7{
    margin: 10px 5px 0px 5px;
    padding: 10px;
    font-size: 70px;
}

.d1{
    border: 10px outset rgb(255, 0, 0);
}
.d2{
    border: 10px dashed rgb(0, 255, 0);
}
.d3{
    border: 10px dotted rgb(0, 0, 255);
}
.d5{
    border: 10px ridge rgb(210, 98, 210);
}
.d4{
    border: 10px double rgb(0, 255, 255);
}
.d6{
    border: 10px inset rgb(255, 255, 0);
}
.d7{
    border: 10px solid rgb(0, 0, 0);
}

body{
    display: flex;
    flex-direction: column;
}

.task1{
    display: flex;
    flex-direction: row;
}

.p_2{
    border: 5px solid red;
    border-radius: 20px/40px; /* эллиптические углы: horizontal 20px, vertical 40px */
    box-shadow: inset 2px 2px 8px 8px rgba(0,0,0,.5); /* внутренняя тень */
    overflow: auto;
    padding: 12px;
}
.p_3{
    border: 5px solid #FF6347;
    padding: 12px;
}

.p_1{
    width: 400px;
    margin:25px auto; /* центрирование блока */
    text-align: center; /* выравнивание текста по центру */
    border: 2px solid #FF7F50; /* сплошная граница #FF7F50 */
    padding: 8px;
}