body{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}
.ase{
    border-left: 2px solid black;
}
.text{
    width: 50%;
 
    
}
p{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(206, 191, 152);
    padding: 10px;
}
dir{
    display: flex;
    flex-direction: column;
    
}
.sp{
   
    margin-left: 80%;
    font-size: 21px;
}
header{
    border: 1px solid  #583E26;
    border-radius:20px;
    width: 100%;
    height: 60px;
    color: rgb(206, 191, 152);
    background-color:#583E26;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-weight:bold;*/
    font-size: 42px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.capt1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 191, 152);
    margin-left: 10px;
    border: 1px solid   rgb(206, 191, 152);
    border-radius:20px;


}
.capt2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 191, 152);
    margin-right: 10px;
    border: 1px solid   rgb(206, 191, 152);
    border-radius:20px;


}
.image{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}

