body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    margin-left: 30px;
    margin-right: 30px;
    padding: auto;

}

.cont {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;
}

img {
    max-width: 18vw;
    height: 200px;
}

@keyframes text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
        /* 80% */
    }
}

h1 {
    position: relative;
    margin-bottom: 85px;
    animation: text 4s linear infinite;
}


.one:hover {
    transform: scale(0.5);
}


.two {
    transform: rotate(45deg)
}


.three {
    transform: translate(50px)
}



.four:hover {
    transform: skew(-20deg)
}

a{
    display: inline-block;
    margin: 20px;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}