@font-face {
    font-family: 'Caveat';
    src: url('fonts/Caveat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Comfortaa', Arial, sans-serif;
    margin: 1rem;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 45px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px rgba(0,0,0,0.45);
}

h2 {
    font-family: 'Exo2', Arial, sans-serif;
    font-size: 1.5rem;
    margin-top: 0.2rem;    
    margin-bottom: 1.2em;  
    text-indent: 25px;     
    text-align: left;      
}

p {
    font-size: 20px;        
    line-height: 200%;         
    text-align: justify;    
    text-indent: 25px;    
    margin: 0;            
}

p::first-letter {
    font-weight:inherit;                     
    font-size: 45px;                      
    color: #ffffff;                       
    background: hsla(275, 100%, 10%, 1);  
    margin-top: 10px 10px 10px;
}

.headli {
    margin-bottom: 10px;
}

.list {
    list-style-type: upper-roman; 
    margin: 0 0 1rem 1.6rem; 
    padding-left: 0;
}

.list li {
    color: #000000;           
    font-family: inherit;      
    font-size: 20px;          
    line-height: 200%;        
    margin: 0 0 1.4em 0;     
}

li::marker {
    color: #0000FF; /* blue */
}